*{
    color:  sandybrown;
}
.search{
    padding: 20px;
    background-image: linear-gradient(90deg, tomato, black);
    text-align: center;
    margin-top: 200px;
}
body {
    
    background-image: linear-gradient(90deg, black,brown);
    
}
#hungryh1{
    text-align: center;
    font-size: 100px;
}
.menu{
    border: 1px solid green;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    width: 80%;
    
    
}
#menus{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    
}
#menus img {
    width: 100%;
    margin-top: 10px;
}
#menuDetail{
    margin-top: 10px;
    text-align: center;

}
#alert-div{
    text-align: center;
}
#menuDetail img{
    width: 20%;
    height: 20%;
}